
<h2>在父子组件之间传递状态</h2>

<section class="card">{{!-- 1 --}}
  {{grid-header selectedUser=selectedUser}}

  <div class="grid">
    {{grid-item selectedUser=selectedUser model=model classNames="cell -4of12"}}
    {{grid-detial selectedUser=selectedUser  classNames="cell -8of12"}}
  </div>
</section>
